.HeaderFrom{
  width: 35%;
  margin: 4% auto;
  box-shadow: 5px 5px 30px cadetblue;
}
.HeaderFrom h1{
   letter-spacing: 5px;
}
.titlehead h1{
  letter-spacing: 10px;
  color:crimson;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-shadow: 5px 5px 5px black;
  font-size: 5rem;
  margin-top:12%;
}
label{
  color: darkblue;
}
textarea{
  border-color: darkblue;
}

.titlehead span{
  position: relative;
  animation: mymove 5s;
  animation-fill-mode: forwards;
}

#d1 {animation-timing-function: linear;}
#d2 {animation-timing-function: ease;}
#d3 {animation-timing-function: ease-in;}
#d4 {animation-timing-function: ease-out;}
#d5 {animation-timing-function: ease-in-out;}

@keyframes mymove {
  from {left: 100px;}
  to {left: 400px;}
}

h4{
  color:rgb(90, 173, 176);
}